<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     <meta http-equiv="x-ua-compatible" content="ie=9" />
    <title>@ViewBag.Title</title>
   @RenderSection("head", false)
   
   <!---分成了三个部分， head 的东西，然后是span9 ,然后是booterScript--->
</head>
<body>
    @RenderBody()
     
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Student Panel</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Vincent Gabriel <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="/Index/ShowIndex">回到首页</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="/Home/loginOut">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b>

                                </a>
                                <ul class="dropdown-menu" id="menu1">
                                    <li>
                                        <a href="#">Tools <i class="icon-arrow-right"></i>

                                        </a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>
                                                <a href="#">Reports</a>
                                            </li>
                                            <li>
                                                <a href="#">Logs</a>
                                            </li>
                                            <li>
                                                <a href="#">Errors</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">SEO Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Content <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">News</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Custom Pages</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Calendar</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="#">FAQ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">User List</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Search</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Permissions</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li id="StudentIndex">
                            <a href="/Home/StudentIndex"><i class="icon-chevron-right"></i>个人主页</a>
                        </li>
                         <li id="CourseIndex">
                            <a href="/StudentCourse/CourseIndex"><i class="icon-chevron-right"></i> 我的课程 </a>
                        </li>
                         <li id="WorksIndex">
                            <a href="/StudentWork/WorksIndex"><i class="icon-chevron-right"></i> 我的课程学档 </a>
                        </li>
                        <li id="GroupIndex">
                            <a href="/StudentGroup/GroupIndex"><i class="icon-chevron-right"></i>小组中心</a>
                        </li>

                                             <li id="ScoreIndex">
                            <a href="/StudentScore/ScoreIndex" ><i class="icon-chevron-right"></i>成绩管理</a>
                        </li>
                        <li id="StudentCenter">
                            <a href="/StudentCourse/StudentCenter"><i class="icon-chevron-right"></i> 个人中心</a>
                        </li>
                       
                        <li id="ShowAllBolgList" >
                            <a href="/StudentBlog/ShowAllBolgList"><i class="icon-chevron-right"></i> 我的博客</a>
                        </li>
                        <li id="QusetionCenter">
                            <a href="/StudentCourse/QusetionCenter">
                                @{if(@ViewBag.newStamp==null){
                                <text><i class="icon-chevron-right"></i></text>}
                                    else{
                                <text>  <span class="badge badge-success pull-right">@ViewBag.newStamp </span></text>
                                    
                                
                                }}
                                 互动消息</a>
                        </li>
                   
                        <li>
                            <a href="#"><span class="badge badge-success pull-right">812</span> Invoices</a>
                        </li>
                       
                    </ul>
                </div>
                
                <!--/span-->
                @RenderSection("span9",false)
            </div>
            <hr>
            <footer>
                <p>   Vincent Gabriel 2013</p>
            </footer>
        </div>
     @RenderSection("booterScript")
            @RenderSection("ModalShow",false)

  
</body>
</html>
