@{
    ViewBag.Title = "ModuleView";
    Layout = "~/Views/Shared/student_Layout.cshtml";
}
@section head{

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap/css/teacherCourse.css" rel="stylesheet" media="screen">
    <link href="~/Content/assets/styles.css" rel="stylesheet" media="screen">
    <!-- 乱码的原因是没有设置参数-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="~/Content/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
}

@section span9{
    <script type="text/javascript">        

    </script>
    <div class="span9" id="content">
        <!-- morris stacked chart -->

        <div class="row-fluid">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">课程学习</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <legend>课程情境单元显示</legend>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">单元名称 </label>
                                    <div class="controls">
                                        @{
                                            if (@ViewBag.Pagemodule != null)
                                            { 
                                            <text>

                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                @ViewBag.Pagemodule.ModuleTitle
                                             
                                            </div>

                                            </text>
                                            }
                                            else
                                            {
                                                <text>
                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                我与地坛
                                             
                                            </div>


                                            </text>
                                            
                                            }
                                        }


                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="date01">单元截止日期</label>
                                    <div class="controls">

                                        @{
                                            if (@ViewBag.Pagemodule != null)
                                            {
                                            <text>

                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                @ViewBag.Pagemodule.DeadlineTime
                                             
                                            </div>


                                            </text>
                                            }
                                            else
                                            {
                                            <text><input type="text" name="DeadLineTime" disabled="disabled" class="input-xlarge datepicker" id="date01" value="1课时">
                                            </text>
                                            }

                                        }


                                    </div>
                                </div>
                                @*<div class="control-group">
                                    <label class="control-label" for="date01">单元开始时间</label>
                                    <div class="controls">

                                        @{
                                            if (@ViewBag.Pagemodule != null)
                                            {
                                            <text>
                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                02/16/14
                                            </div>

                                            </text>
                                            }
                                            else
                                            {
                                            <text><input type="text" name="DeadLineTime" disabled="disabled" class="input-xlarge datepicker" id="date01" value="02/16/14">
                                            </text>
                                            }

                                        }

                                        <p class="help-block">请务必在指定时间内完成</p>
                                    </div>
                                </div>*@
                                @*<div class="control-group">
                                    <label class="control-label" for="date01">单元截止时间</label>
                                    <div class="controls">

                                        @{
                                            if (@ViewBag.Pagemodule == null)
                                            {
                                            <text>
                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                02/16/14
                                            </div>

                                            </text>
                                            }
                                            else
                                            {
                                            <text><input type="text" name="DeadLineTime" disabled="disabled" class="input-xlarge datepicker" id="date01" value="02/16/14">
                                            </text>
                                            }

                                        }

                                        <p class="help-block">请务必在指定时间内完成</p>
                                    </div>
                                </div>*@

                                @*<div class="control-group">
                                    <label class="control-label" for="date01">单元概述</label>
                                    <div class="controls">

                                        @{
                                            if (@ViewBag.Pagemodule == null)
                                            {
                                            <text>
                                            <div class="alert alert-info" style="width: 520px; text-align: center">
                                                <a class="btn btn-primary" href="@ViewBag.Pagemodule.ModuleFilePath" target="_blank">进入电子学档</a>
                                                
                                            </div>

                                            </text>
                                            }
                                            else
                                            {
                                            <text><input type="text" name="DeadLineTime" disabled="disabled" class="input-xlarge datepicker" id="date01" value="单元概述">
                                            </text>
                                            }

                                        }


                                    </div>
                                </div>*@
                                <div class="control-group">
                                    <label class="control-label" for="fileInput">电子学档</label>
                                    <div class="controls">
                                        @{
                                            if (@ViewBag.Pagemodule != null)
                                            {
                                                
                                            <p>此处把下面的提交作业的功能总结在一个页面中，可以生成一个页面，专门显示电子学档，就是学生的studentwork表了，按照课程把数据罗列出来，学生的各个模块的完成情况</p>
                                            <a class="btn btn-primary" href="@ViewBag.Pagemodule.ModuleFilePath" target="_blank">进入电子学档</a>
                                                 
                                                  
                                            }
                                            else
                                            {
                                            <label class="control-label" for="fileInput">暂无资料</label>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="textarea2">模块内容</label>
                                    <div class="controls">
                                        @{
                                            if (@ViewBag.Pagemodule != null)
                                            {
                                                <div class="well" style="background-color: rgba(173, 178, 241, 0.42)">
                                           @Html.Raw(ViewBag.Pagemodule.ModuleContent)
                                        </div>
                                            }
                                            else
                                            {
                                        <div class="well" style="background-color: rgba(173, 178, 241, 0.42)">
                                            <p>我们先听英国诗人蒲柏的一段诗:“自然和自然规律，隐藏在黑暗中.上帝说:让牛顿出生吧！于是，一切显现光明.”确实，有力就会运动，没有力就不会运动.这个错误的观点千百年来一直躲藏在黑暗中，一直到牛顿的出现，才使我们真正了解到:力不是维持物体运动状态的原因.而是改变物体运动状态的原因.也就是说力是产生加速度的原因.我们自然会问:力、质量、加速度到底存在什么样的定量关系？先请大家根据生活经验和你所掌握的知识，猜想力、质量、加速度到底存在什么样的定量关系.    </p>
                                        </div>
                                            }
                                        }

                                    </div>
                                </div>
                                @*<div class="control-group">
                                    <label class="control-label" for="textarea2">核心概念</label>
                                    <div class="controls">
                                        <div class="well" style="background-color: rgba(173, 178, 241, 0.42)">
                                            <p>力、质量、加速</p>


                                        </div>


                                    </div>
                                </div>*@
                                @*<div class="control-group">
                                    <label class="control-label" for="textarea2">思路引导</label>
                                    <div class="controls">
                                        <div class="well" style="background-color: rgba(173, 178, 241, 0.42)">
                                            <p>力不是维持物体运动状态的原因.而是改变物体运动状态的原因.也就是说力是产生加速度的原因.我们自然会问:力、质量、加速度到底存在什么样的定量关系？先请大家根据生活经验和你所掌握的知识，猜想力、质量、加速度到底存在什么样的定量关系. </p>


                                        </div>


                                    </div>
                                </div>*@
                            </fieldset>
                        </form>

                    </div>
                    <div class="span12" style="float: right">

                        <div class="btn-group" style="float: right">
                            <a class="btn btn-primary" href="/StudentCourse/ModuleView?id=@ViewBag.Pagemodule.Id&flag=2&CId=@ViewBag.Pagemodule.CourseId">进入下一单元</a>
                            <a class="btn btn-primary" href="/StudentCourse/StudentCoursesDetail?id=11">返回课程首页</a>
                            <a class="btn btn-primary" href="/StudentCourse/CourseIndex">返回我的课程</a>


                        </div>


                    </div>
                </div>

            </div>

            <!-- /block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">课程管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <form class="form-horizontal" action="/StudentCourse/FinishModule?moduleTag=1" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <legend>学习课程---<i style="color: #08c; font-size: 14px;">只能提交一次</i></legend>
                                <input type="hidden" name="CourseId" id="CourseId" value="@ViewBag.CId" />



                                <div class="control-group">
                                    <label class="control-label" for="fileInput">上传作业</label>
                                    <div class="controls">
                                        @{
                                            if (@ViewBag.PageWork != null)
                                            {
                                            <a target="_blank" class="btn btn-primary" href="@ViewBag.PageWork.WorkFilePath">完成下载</a>
                                            }
                                            else
                                            {
                                            <input class="input-file uniform_on" id="fileInput" type="file" name="studentPath">
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="textarea2">学习内容</label>
                                    <div class="controls">
                                        @{
                                            if (@ViewBag.PageWork != null)
                                            {
                                            <text>
                                            <textarea class="input-xlarge textarea" placeholder="Enter text ..." name="WorkContent" style="width: 810px; height: 200px">
                                                   @ViewBag.PageWork.WorkContent

                                               </textarea>
                                            </text>
                                            }
                                            else
                                            {
                                            <text><textarea class="input-xlarge textarea" name="WorkContent" placeholder="Enter text ..." style="width: 810px; height: 200px"></textarea>
                                            </text> 
                                            }
                                        }

                                    </div>
                                </div>
                                @* 添加画板 *@
                                <div class="control-group">
                                    <label class="control-label" for="textarea2">使用画板</label>
                                    <div class="controls">
                                        <canvas id="canvas" width="600" height="500" style="border: 1px solid;"></canvas>
                                        <br />
                                        <span class="btn btn-primary" id="showDraw">打开画板</span>
                                        <span class="btn btn-primary" id="saveDraw">保存</span>
                                        <span class="btn btn-primary" id="clearImg">清除图像</span>
                                    </div>
                                </div>
                                @* 课后题 *@
                                @if (ViewBag.selectQuestions != null)
                                {
                                    foreach (var PaperQuestion in ViewBag.selectQuestions)
                                    {
                                        if (PaperQuestion.QuestionType == 0)
                                        {
                                    <div class="control-group">
                                        <label class="control-label" for="textarea2">单选题</label>
                                        <div class="controls">
                                            <label style="font-size: larger;">
                                                @PaperQuestion.QTitle
                                            </label>
                                            <span>A.<input name="@PaperQuestion.Id&r" type="radio" /></span>@PaperQuestion.A
                                            <br />
                                            <span>B.<input name="@PaperQuestion.Id&r" type="radio" /></span>@PaperQuestion.B
                                            <br />
                                            <span>C.<input name="@PaperQuestion.Id&r" type="radio" /></span>@PaperQuestion.C
                                            <br />
                                            <span>D.<input name="@PaperQuestion.Id&r" type="radio" /></span>@PaperQuestion.D
                                        </div>
                                    </div>
                                        }
                                        else if (PaperQuestion.QuestionType == 1)
                                        {
                                    <div class="control-group">
                                        <label class="control-label" for="textarea2">多选题</label>
                                        <div class="controls Answer">
                                            <label style="font-size: larger;">
                                                @PaperQuestion.QTitle
                                            </label>
                                            <input type="hidden" id="@PaperQuestion.Id&Answer" />
                                            <span>A.<input name="@PaperQuestion.Id&r" answer="A" type="checkbox" class="checkbox" /></span>@PaperQuestion.A
                                            <br />
                                            <span>B.<input name="@PaperQuestion.Id&r" answer="B" type="checkbox" class="checkbox" /></span>@PaperQuestion.B
                                            <br />
                                            <span>C.<input name="@PaperQuestion.Id&r" answer="C" type="checkbox" class="checkbox" /></span>@PaperQuestion.C
                                            <br />
                                            <span>D.<input name="@PaperQuestion.Id&r" answer="D" type="checkbox" class="checkbox" /></span>@PaperQuestion.D
                                        </div>
                                    </div>
                                        }
                                    }
                                }
                                @if (ViewBag.blankQuestions != null)
                                {
                                    foreach (var blankQuestions in ViewBag.blankQuestions)
                                    {
                                    <div class="control-group">
                                        <label class="control-label" for="textarea2">填空题</label>
                                        <div class="controls">
                                            <label style="font-size: larger;">
                                                @blankQuestions.QTitle
                                            </label>
                                            <textarea name="@blankQuestions.Id"  class="span6"  placeholder="填入答案 ..."></textarea>
                                        </div>
                                    </div>
                                    }
                                }
                                @{
                                    if (@ViewBag.PageWork == null)
                                    {
                                                  
                                    <text>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">保存模块</button>
                                        <button type="reset" class="btn">取消</button>


                                    </div>
                                    </text>
                                    }
                                }

                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- wizard -->
        <!-- /wizard -->

        <!-- validation -->
        <!-- /validation -->


    </div>


}
@section booterScript{
    <link href="~/Content/vendors/datepicker.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendors/uniform.default.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendors/chosen.min.css" rel="stylesheet" media="screen">

    <link href="~/Content/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">
    <script src="~/Content/js/huaban.js"></script>
    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/jquery.uniform.min.js"></script>
    <script src="~/Content/vendors/chosen.jquery.min.js"></script>
    <script src="~/Content/vendors/bootstrap-datepicker.js"></script>

    <script src="~/Content/vendors/wysiwyg/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>

    <script src="~/Content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

    <script type="text/javascript" src="~/Content/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/assets/form-validation.js"></script>
    <script src="~/Content/CenterUI/StudentUI.js"></script>

    <script>

        jQuery(document).ready(function () {
            FormValidation.init();
        });
        //function open() {
        //    //保存画板
        //    new Drawing('canvas');
        //    document.querySelector('#save').addEventListener('click', function () {
        //        var image = document.querySelector('#canvas').toDataURL();
        //        localStorage.setItem('canvas', image);
        //        console.log(localStorage.getItem('canvas'));
        //    }, false);
        //    if (localStorage.getItem('canvas')) {
        //        document.querySelector('#DrawBoardImg').value = localStorage.getItem('canvas');

        //    }
        //    $("#canvas").css("display", "block");
        //}



        $(function () {
            $(".datepicker").datepicker();
            $(".uniform_on").uniform();
            $(".chzn-select").chosen();
            $('.textarea').wysihtml5();

            $('#rootwizard').bootstrapWizard({
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    $('#rootwizard').find('.bar').css({ width: $percent + '%' });
                    // If it's the last tab then hide the last button and show the finish instead
                    if ($current >= $total) {
                        $('#rootwizard').find('.pager .next').hide();
                        $('#rootwizard').find('.pager .finish').show();
                        $('#rootwizard').find('.pager .finish').removeClass('disabled');
                    } else {
                        $('#rootwizard').find('.pager .next').show();
                        $('#rootwizard').find('.pager .finish').hide();
                    }
                }
            });
            $('#rootwizard .finish').click(function () {
                alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
        });
        //Ajax上传图片
        $(function () {
            $("#canvas").hide();
            var b64;
            $("#showDraw").click(function () {

                new Drawing('canvas');
                document.querySelector('#saveDraw').addEventListener('click', function () {
                    var image = document.querySelector('#canvas').toDataURL();
                    localStorage.setItem('canvas', image);
                    console.log(localStorage.getItem('canvas'));
                }, false);
                if (localStorage.getItem('canvas')) {
                    //document.querySelector('#DrawBoardImg').value = localStorage.getItem('canvas');
                    //删除字符串前的提示信息 "data:image/png;base64,"  
                    b64 = localStorage.getItem('canvas').substring(22);
                }
                $("#canvas").slideToggle();
            });
            $("#saveDraw").click(function () {
                $.ajax({
                    url: "/StudentCourse/Ajax?CourseId=" + $("#CourseId").val() + "&moduleTag=1",
                    data: { "b64": b64 },
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        alert("保存成功!");
                    }


                });

            });
            $("#clearImg").click(function () {
                var ctx = document.querySelector('#canvas').getContext('2d');
                ctx.clearRect(0, 30, 600, 570);
            });
        });
        //复选框的操作
        $(function () {
            var Answer;
            $(".checkbox").click(function () {
                //$(".Answer").find("input[type=checkbox]").each(function () {
                    if ($(this).attr("selected") = selected) {
                        var $this = $(this)
                        Answer = $(this).parent().siblings("input[type=hidden]");
                        Answer.val() = Answer.val() + $this.attr("answer");
                    }
                //});
            });

        });
    </script>


}

